extends wide_layout

mixin map-button(id, name, imgSrc)
  figure.figure.map-creator-btn
    img.figure-img.img-thumbnail.rounded(id=id src=imgSrc)
    figcaption.figure-caption.text-center= name

block content
  h3 Map creator! 
    small.font-weight-light Let's get the rush started!
  br

  form#cancel-map-form.hidden(method='GET' action='/menu')
  form#save-map-form(method='POST' action='/user/map/new')
    div.input-group
      input.form-control(placeholder='Insert the map\'s name!' name='mapname' value=mapname)
      input.hidden(name='blueprint' value=blueprint) 
      div.input-group-append
        button.btn.btn-outline-primary(id='save-map-btn' type='submit') Save map
      div.input-group-append
        button.btn.btn-outline-danger(id='cancel-map-btn' type='submit' form='cancel-map-form') Cancel

  br

  div#map

  br

  div#map-buttons
    +map-button('road-btn', 'Road', '/assets/road.png')
    +map-button('grass-btn', 'Meadow', '/assets/grass.png')
    +map-button('bush-btn', 'Bush', '/assets/bush.png')
    +map-button('rock-btn', 'Rock', '/assets/rock.png')
    +map-button('powerup-btn', 'Random Power', '/assets/powerup.png')
    +map-button('motorcycle-btn', 'Motorcycle', '/assets/motorcycle.png')


block scripts
  script(src='/js/pixi.min.js')
  include classes_scripts
  script(src='/js/CanvasModule.js')
  script(src='/js/mapCreatorPresenter.js')